@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: #111;
}
*{
  margin: 0;
  padding: 0;
}
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Protest+Revolution&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')

